body {
    font-family: 'Sacramento', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.chat-container {
    width: 500px;
    border-radius: 15px;
    font-family: 'Comic Sans MS', cursive;
    background-image: url('cafe.jpg');
    background-repeat: repeat-y;
    background-size: cover; 
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.chat-header {
    background-color: #BC8F8F;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.chatbox {
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.chat-input {
    display: flex;
    padding: 10px;
}

    .chat-input input {
        flex: 1;
        padding: 10px;
        border: none;
        border-radius: 5px 0 0 5px;
    }

    .chat-input button {
        padding: 10px 15px;
        border: none;
        background-color: #BC8F8F;
        color: #fff;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
        transition: background-color 0.3s ease;
    }

        .chat-input button:hover {
            background-color: #BC8F8F;
        }


        #endInterviewButton {
            position: fixed;
            bottom: 70px; /* chat-inputの下に配置 */
            right: 20px;
            z-index: 10; /* chat-containerより上に表示するためのz-index */
            padding: 10px 15px;
            background-color: #BC8F8F;
            color: #ffffff;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            outline: none;
        }
        
        #endInterviewButton:hover {
            background-color: #9E7A7A;
            z-index: 1000;
        }
        